@{
  Layout = "_Layout";
}

@model PosterInventory.Models.Poster

<h4>New Poster</h4>
@using (Html.BeginForm())
{
  IDictionary<string, string> HtmlAttributes = new Dictionary<string, string>();
  HtmlAttributes.Add("type", "number");
  @Html.LabelFor(model => model.Name);
  @Html.TextBoxFor(model => model.Name);
  @Html.LabelFor(model => model.Media);
  @Html.TextBoxFor(model => model.Media);
  @Html.LabelFor(model => model.Depicts);
  @Html.TextAreaFor(model => model.Depicts, 3, 24, null);
  @Html.LabelFor(model => model.SizeX, "Width");
  @Html.TextBoxFor(model => model.SizeX);
  @Html.LabelFor(model => model.SizeY, "Height");
  @Html.TextBoxFor(model => model.SizeY);
  @Html.CheckBoxFor(model => model.OnWall);
  @Html.LabelFor(model => model.OnWall, "On Wall?");
  <input type="submit" value="Add new item"/>
}

<p>@Html.ActionLink("Back to list", "Index")</p>