@{
  Layout = "_Layout";
}

@model PosterInventory.Models.Poster

<h2>@Html.DisplayFor(model => model.Name)</h2>

<p><strong>@Html.DisplayFor(model => model.Media)</strong></p>
<p>@Html.DisplayNameFor(model => model.Depicts): @Html.DisplayFor(model => model.Depicts)</p>
<p>Size: @Html.DisplayFor(model => model.SizeX) x @Html.DisplayFor(model => model.SizeY)</p>
<p>@Html.DisplayFor(model => model.OnWall) On Wall</p>
<p>@Html.ActionLink("Back to list", "Index")</p>