@{
  Layout = "_Layout";
}

@using PosterInventory.Models;

<h1>Posters</h1>

<ul>
  @foreach (Poster poster in Model)
  {
    <li>@Html.ActionLink($"{poster.Name}", "Details", new { id = poster.PosterId }) @poster.Media - @poster.SizeX x @poster.SizeY</li>
  }
</ul>

<p>@Html.ActionLink("Add new", "Create")</p>
<p>@Html.ActionLink("Return home", "Index", "Home")</p>